//- calendar_column.pug
//- I svampkalendern så kommer det skapas tre kolumner utifrån hur stor chans
//- det är att hitta svamparna som visas: på väg in, stor chans och på väg ut.
//- Här definieras en tom mall för att de divs vi vill ha i varje kolumn.
//- se filen svampkalender.pug där de importeras.
div(name="content-wrapper").row
    div(name="mushroom-list")

