//- index.pug
//- Startsidan för hemsidan. Innehåller information om hemsidan.
//- Filen layout.pug definierar mycket av sidlayouten, t.ex. meny.
extends layout
block title
    title Hem | Svamphemsida
block content
    // Text om vad hemsidan handlar om.
    h1 Välkommen!
    p Den här hemsidan handlar om olika svampar som man kan hitta i skogarna i vårt avlånga land. Det är ett projekt i Webbutveckling 1 som använder Bootstrap. Om du kikar runt på hemsidan så kan du hitta flera grejer. Du kan läsa mer om de delarna här nedan eller genom att klicka dig in i menyn.
    h2 Svamplista
    p På sidan som listar olika svampar kan du se svampar sorterade i olika kategorier. Det finns uppgifter om hur goda de anses vara, vart man kan hitta de, samt om det finns några förväxlingssvampar. På vissa ställen finns även mina egna kommentarer om svamparna.
    h2 Letarguide
    p Här hittar du några tips som kan vara till god hjälp när du plockar svamp.
    h2 Svampkalender
    p Här finns en kalender som visar ungefär när på året man kan hitta olika svampar.
