/* _colors.scss
Denna fil anpassar Bootstrap's färger. */
// Jag använder primär och sekundära färger för bakgrunder och uppdaterar de därför: se nedan.
$primary: #706e32; // #878543;
$secondary: #3b4736;
$text-danger: #70201a; // TODO detta behöver fixas.